footer.footer--principal 
  div.container-logo
    div.footer-logo
    div.footer-page: ul 
      each itemfooter in namesNav
        li: a()=itemfooter
  div.footer-nav
    div.social-nav
      ul
        li link social: 
        each itemSocial in socialNav
          li: a(href="#")=itemSocial