footer.footer--principal 
  div.footer--logo: img
  div.footer--nav: ul 
    li Follow me: 
    each itemfooter in namesNav
      li: a(href="#")=itemfooter
  div.social--nav: ul 
    each itemSocial in socialNav
      li: a(href="#")=itemSocial
div fsadfgdsgdf