head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Web development practice
  <meta name="description" content="riszart daryl - pagina de desarrollo web, de lo aprendido sobre desarrollo web">
  link(rel="stylesheet", href="css/contentStyle.css")
  meta(name="author" content="Riszart Daryl - https://riszartdaryl.site/")
  meta(name="robots" content="index")
  link(rel="cannocical", href="https://riszart.github.io/processors-practice-project/")
  link(rel="shortcut icon" href="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r.jpg" type="image/x-icon")