-var profileList = ['name:', 'full name:', 'profession:', 'date of birth:', 'place of birth:', 'height:', 'wight:', 'blood type:', 'zodiac sign:', 'family:', 'agency:']
-var namesNav = ['jisoo', 'rose', 'rama', 'lisa']
-var socialNav = ['naver profile', 'instagram', 'weibo', 'youtube']
-var category = ['Biography', 'drama', 'films', 'TV programs', 'Advertisements', 'compositions', 'Awards', 'Curiosities', 'Gallery', 'links']