-var namesNav = ['jisoo', 'rose', 'jennie', 'lisa']
-var socialNav = ['naver profile', 'instagram', 'weibo', 'youtube']
-var category = ['Biography', 'drama', 'films', 'TV programs', 'Advertisements', 'compositions', 'Awards', 'Curiosities', 'Gallery', 'links']

