include setting.pug
include mixins.pug
doctype html
html
  include head.pug
  body
    include header.pug 
    block contents
    include footer.pug
    script(src="/js/itemJisoo.js")  
    script(src="/js/itemJennie.js")  
    script(src="/js/itemRose.js")  
    script(src="/js/itemLisa.js")
    script(src="/js/object.js") 
    script(src="/js/script.js") 


