<!DOCTYPE html>
<html><!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="css/contentStyle.css">
    </head>
  </html>
  <body>
    <header class="header">
      <div class="header-logo"></div>
      <nav class="header-nav">
        <ul> 
          <li><a class="jisoo" href="#">jisoo</a></li>
          <li><a class="rose" href="#">rose</a></li>
          <li><a class="jennie" href="#">jennie</a></li>
          <li><a class="lisa" href="#">lisa</a></li>
          <li><i class="icon__search"></i><span>search</span></li>
        </ul>
      </nav>
      <div>
        <div class="burguerIcon">
          <div></div>
        </div>
        <div class="container-close inactive">
          <div class="close">
            <div class="close-icon"></div>
          </div>
          <ul>
            <li><a href="#Biography">Biography</a></li>
            <li><a href="#drama">drama</a></li>
            <li><a href="#films">films</a></li>
            <li><a href="#TV programs">TV programs</a></li>
            <li><a href="#Advertisements">Advertisements</a></li>
            <li><a href="#compositions">compositions</a></li>
            <li><a href="#Awards">Awards</a></li>
            <li><a href="#Curiosities">Curiosities</a></li>
            <li><a href="#Gallery">Gallery</a></li>
            <li><a href="#links">links</a></li>
          </ul>
        </div>
      </div>
    </header>
    <footer class="footer--principal"> 
      <div class="container-logo">
        <div class="footer-logo"></div>
        <div class="footer-page">
          <ul> 
            <li><a>jisoo</a></li>
            <li><a>rose</a></li>
            <li><a>jennie</a></li>
            <li><a>lisa</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-nav">
        <div class="social-nav">
          <ul>
            <li>link social: </li>
            <li><a href="#">naver profile</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">weibo</a></li>
            <li><a href="#">youtube</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="js/itemJisoo.js"> </script>
    <script src="js/itemJennie.js"> </script>
    <script src="js/itemRose.js"> </script>
    <script src="js/itemLisa.js"></script>
    <script src="js/object.js"> </script>
    <script src="js/script.js"> </script>
  </body>
</html>