extend components/template.pug
block contents
  section
    div.content--profile
      h4 profile
      ul
        each itemProfile in profileList
          li=itemProfile
            span
      img(src="", alt="")
    div.content--biography 
      h4 biography
      p
    div.content--drama 
      h4 drama
      ul
        li
        li
        li
        li
    div.content--films 
      h4 films
      ul 
        li 
        li 
    div.content--programs
      h4 TV programs 
      ul 
        li
        li
    div.content--add
    div 