extend components/template.pug
block contents
  section.main--content.inactive
    div.image-principal
      div.imgItem
    +sections(false, 'Profile', profileList)
    +sections(false, 'Biography')
    +sections(false, 'Drama')
    +sections(false, 'Films')
    +sections(false, 'TV-Programs')
    +sections(false, 'Advertisements')
    +sections(false, 'Curiosities')
    +selection('Links', socialNav)
    +sections(false, 'Gallery')
    div.reference
      p la imformacion usada el la pagina elaborado como practica de un desarrollador wed fue estraidad de una pagina en linea "Kfandon"
  